{% extends 'veritza_base.html' %}

{% block content %}

     </br></br></br><div class="text-center"><h1>You've found Veritza Serbia platform!</h1></p>
     <img src="{{ MEDIA_URL }}images/Serbia_and_Montenegro.png"></img>
    <h1><em>We' re not quite there yet - but we're getting there - and we really want you to know when we're ready.</em></h1></br></br>
    <h2>Sign up <a href="{% url 'userena_signup' %}">here</a> to get notified! or get in touch with us <a href="mailto:info@veritza.org" target="_top">info@veritza.org</a></h2></div>

{% endblock %}