{% extends 'official_base.html' %}

{% block path %}
  <ol class="breadcrumb">
    <li><a href="{% url 'serbia:index' %}">Home</a></li>
    <li><a href="{% url 'serbia:datasets' %}">Datasets</a></li>
    <li><a href="{% url 'serbia:officials' %}">Officials</a></li>
    <li>{{ object.id }}</li>
  </ol>
  {% endblock path %}

{% block extrarows %}
	<tr> <td>Salaries</td>
		<td>
			{% for x in object.salary_set.all %}
				{{ x.net_income }}<br>
			{% endfor %}
		</td>
	</tr>

    <tr> <td>Real Estates</td>
    	<td>
			{% for x in object.realestate_set.all %}
				{{ x.place }}
			{% endfor %}
            {% for x in object.fixedasset_set.all %}
				{{ x.type_size }}<br>
			{% endfor %}
		</td>
    </tr>

    <tr> <td>Fixed Assets</td>
    	<td>
			{% for x in object.fixedasset_set.all %}
				{{ x.acquisition_basis }}<br>
			{% endfor %}
		</td>
    </tr>

    <tr> <td>Transport</td>
    	<td>
			{% for x in object.transport_set.all %}
				{{ x.brand }}<br>
			{% endfor %}
		</td>
    </tr>

     <tr> <td>Companies</td>
    	<td>
			{% for x in object.companies.all %}
				{{ x.name }}
			{% endfor %}
		</td>
    </tr>

     <tr> <td>Children</td>
    	<td>
			{% for x in object.children.all %}
				{{ x.name }}
			{% endfor %}
		</td>
    </tr>

	<tr> <td>Deposit Savings</td> <td>{% if object.deposit_savings %} Yes {% else %} No {% endif %}</td> </tr>
	<tr> <td>Place</td> <td>{{ object.place }}</td> </tr>
	<tr> <td>Date</td> <td>{{ object.date }}</td> </tr>
{% endblock %}
