{% extends 'company_base.html' %}

{% block path %}
  <ol class="breadcrumb">
    <li><a href="{% url 'serbia:index' %}">Home</a></li>
    <li><a href="{% url 'serbia:companies' %}">Companies</a></li>
    <li>{{ object.id }}</li>
  </ol>
  {% endblock path %}

{% block extrarows %}
	<tr> <td>Area</td> <td>{{ object.area }}</td> </tr>
	<tr> <td>ID</td> <td>{{ object.company_id }}</td> </tr>
	<tr> <td>Form</td> <td>{{ object.form }}</td> </tr>
	<tr> <td>Founder Number</td> <td>{{ object.founder_name }}</td> </tr>
	<tr> <td>Place</td> <td>{{ object.place }}</td> </tr>
	<tr> <td>Tax Number</td> <td>{{ object.tax_number }}</td> </tr>
	<tr> <td>Termination Date</td> <td>{{ object.termination_date }}</td> </tr>
{% endblock %}