alabaster==0.7.6
amqp==1.4.6
anyjson==0.3.3
Babel==2.0
beautifulsoup4==4.3.2
billiard==3.3.0.20
boto==2.9.5
celery==3.1.18
cffi==0.9.2
characteristic==14.3.0
cryptography==0.8.2
cssmin==0.1.4
cssselect==0.9.1
decorator==4.0.2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-appconf==1.0.1
django-apptemplates==0.0.1
django-celery==3.1.0
django-compressor==1.3
django-debug-toolbar==1.3.0
django-extensions==1.3.3
django-filter==0.9.2
django-forms-bootstrap==3.0.1
django-grappelli==2.6.4
django-guardian==1.3
django-heroku-postgresify==0.3
-e git+https://github.com/lalstef/django-report-tools.git@e278ab503ba472564a6ebc2014abeed30a190920#egg=django_report_tools-master
django-reversion==1.9.3
django-storages==1.1.4
django-tables2==0.15.0
django-userena==1.4.0
django-watson==1.1.8
docutils==0.12
easy-thumbnails==1.5
ecdsa==0.13
enum34==1.0.4
Fabric==1.6.1
gevent==0.13.8
greenlet==0.4.5
gunicorn==19.0.0
html2text==2015.4.14
idna==2.0
ipaddress==1.0.14
ipython==3.1.0
ipython-genutils==0.1.0
Jinja2==2.7.3
jsmin==2.0.3
kombu==3.0.26
lxml==3.4.4
MarkupSafe==0.23
newrelic==1.13.1.31
paramiko==1.15.2
path.py==7.6.1
pexpect==3.3
pickleshare==0.5
Pillow==2.8.1
psycopg2==2.5
pyasn1==0.1.7
pyasn1-modules==0.0.7
pycparser==2.12
pycrypto==2.6.1
Pygments==2.0.2
pyOpenSSL==0.15.1
python-dateutil==2.4.2
pytz==2015.2
queuelib==1.2.2
requests==2.7.0
Scrapy==0.24.4
scrapyd==1.0.1
service-identity==14.0.0
simplegeneric==0.8.1
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.1.3
sphinx-rtd-theme==0.1.8
sqlparse==0.1.15
static3==0.5.1
traitlets==4.0.0
Twisted==15.1.0
w3lib==1.11.0
xmltodict==0.9.2
zope.interface==4.1.1
