# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = scraping.settings

[deploy:local]
url = http://localhost:6800/

[deploy:heroku]
url = http://veritza.herokuapp.com:6800/
