{% extends "veritza_base.html" %}

{% block content %}

<h1>About Veritza</h1>

<p>Veritza.org project is a collaborative web-based platform that provides journalists and citizens in developing countries with a toolkit that can be easily customized and applied on multiple public records databases to result exposing potential corruption problem or outliers. It works as automated data scenario that can collect/scrape/import the records, analyze and apply usual crosschecks on datasets, and then to make public new data-driven information. Unique component is producing regular corruption alerts on already applied cases. This proposal will create a proof-of concept prototype in the case of few Balkan countries (Montenegro, Serbia, Bosnia, Macedonia, Kosovo, Croatia) and will try to establish models for the platform.</p>

{% endblock %}



