{% extends 'usa_base.html' %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load i18n %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'usa:index' %}">Home</a></li>
    <li><a href="{% url 'usa:datasets' %}">Datasets</a></li>
    <li><a href="{% url 'usa:toxicsfacilities' %}">Toxics Facilities</a></li>
    <li>{{ object.id }}</li>
  </ol>

  <h3>Toxics Facility</h3>
    <div class="page-header">{{ object.primary_name }}</div>

    <div class="panel panel-default">
      <div class="panel-heading">Basic information</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr> <td>Accuracy Value</td> <td>{{ object.accuracy_value }}</td> </tr>
          <tr> <td>Census Block Code</td> <td>{{ object.census_block_code }}</td> </tr>
          <tr> <td>City</td> <td>{{ object.city_name }}</td> </tr>
          <tr> <td>Collect Description</td> <td>{{ object.collect_desc }}</td> </tr>
          <tr> <td>Congressional District Number</td> <td>{{ object.congressional_dist_num }}</td> </tr>
          <tr> <td>Conveyor</td> <td>{{ object.conveyor }}</td> </tr>
          <tr> <td>Country</td> <td>{{ object.country }}</td> </tr>
          <tr> <td>County</td> <td>{{ object.county }}</td> </tr>
          <tr> <td>Date of Creation</td> <td>{{ object.create_date }}</td> </tr>
          <tr> <td>EPA Region Code</td> <td>{{ object.epa_region_code }}</td> </tr>
          <tr> <td>Federal Agency Name</td> <td>{{ object.federal_agency_name }}</td> </tr>
          <tr> <td>FIPS Code</td> <td>{{ object.fips_code }}</td> </tr>
          <tr> <td>FRS Facility Detail Report URL </td> <td><a target='_' href="{{ object.frs_facility_detail_report_url }}">Report url </a></td> </tr>
          <tr> <td>HDatum Description</td> <td>{{ object.hdatum_desc }}</td> </tr>
          <tr> <td>HUC Code</td> <td>{{ object.huc_code }}</td> </tr>
          <tr> <td>Interest Types</td> <td>{{ object.interest_types }}</td> </tr>
          <tr> <td>Latitude</td> <td>{{ object.latitude83 }}</td> </tr>
          <tr> <td>Longitude</td> <td>{{ object.longitude83 }}</td> </tr>
          <tr> <td>Location Address</td> <td>{{ object.location_address }}</td> </tr>
          <tr> <td>Location Description</td> <td>{{ object.location_description }}</td> </tr>
          <tr> <td>NAICS Code</td> <td>{{ object.naics_codes }}</td> </tr>
          <tr> <td>NAICS Code Description</td> <td>{{ object.naics_code_descriptions }}</td> </tr>
          <tr> <td>PGM System Acronyms</td> <td>{{ object.pgm_sys_acrnms }}</td> </tr>
          <tr> <td>Postal Code</td> <td>{{ object.postal_code }}</td> </tr>
          <tr> <td>Primary Name</td> <td>{{ object.primary_name }}</td> </tr>
          <tr> <td>Reference Point Description</td> <td>{{ object.ref_point_desc }}</td> </tr>
          <tr> <td>Registry ID</td> <td>{{ object.registry_id }}</td> </tr>
          <tr> <td>SIC Codes</td> <td>{{ object.sic_codes }}</td> </tr>
          <tr> <td>SIC Code Description</td> <td>{{ object.sic_code_descriptions }}</td> </tr>
          <tr> <td>Site Type</td> <td>{{ object.site_type_name }}</td> </tr>
          <tr> <td>Source Description</td> <td>{{ object.source_desc }}</td> </tr>
          <tr> <td>State Code</td> <td>{{ object.state_code }}</td> </tr>
          <tr> <td>State Name</td> <td>{{ object.state_name }}</td> </tr>
          <tr> <td>Supplemental Location</td> <td>{{ object.supplemental_location }}</td> </tr>
          <tr> <td>Tribal Land Code</td> <td>{{ object.tribal_land_code }}</td> </tr>
          <tr> <td>Tribal Land Name</td> <td>{{ object.tribal_land_name }}</td> </tr>
          <tr> <td>Update Date</td> <td>{{ object.update_date }}</td> </tr>
          <tr> <td>US Mexico Border Indicator</td> <td>{{ object.us_mexico_border_ind }}</td> </tr>
          <tr> <td>URL</td> <td><a target='_' href="{{ object.url|default_if_none:"#" }}">url </a></td> </tr>
        </table>
      </div>
    </div>


{% endblock %}
