{% extends 'usa_base.html' %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load i18n %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'usa:index' %}">Home</a></li>
    <li><a href="{% url 'usa:datasets' %}">Datasets</a></li>
    <li><a href="{% url 'usa:federal-companies' %}">Companies</a></li>
    <li>{{ object.id }}</li>
  </ol>

  <h3>Company profile</h3>
    <div class="page-header">{{ object.name|lower|title }}</div>

    <div class="panel panel-default">
      <div class="panel-heading">Basic information</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr> <td>Company name</td> <td>{{ object.name|lower|title }}</td> </tr>
          <tr> <td>DUNS number</td> <td>{{ object.duns_num }}</td> </tr>
          <tr> <td>Founders</td> <td>{% if object.founders %} {{ object.founders }} {%endif %}</td> </tr>
          <tr> <td>Company type</td> <td>{{ object.type|lower|title }}</td> </tr>
          <tr> <td>Address</td> <td>{{ object.address }}</td> </tr>
          <tr> <td>Registration date</td> <td>{{ object.reg_date }}</td> </tr>
          <tr> <td>URL</td> <td><a target='_' href="{{ object.url|default_if_none:"#" }}">url</a></td> </tr>
        </table>
      </div>
    </div>

{% endblock %}
