{% extends 'usa_base.html' %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load i18n %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'usa:index' %}">Home</a></li>
    <li><a href="{% url 'usa:datasets' %}">Datasets</a></li>
    <li><a href="{% url 'usa:cpscrecalls' %}">CPSC Recalls</a></li>
    <li>{{ object.id }}</li>
  </ol>

  <h3>Consumer Product Safety Commission Recall</h3>
    <div class="page-header">{{ object.desc }}</div>

    <div class="panel panel-default">
      <div class="panel-heading">Basic information</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr> <td>Consumer Contact</td> <td>{{ object.consumer_contact }}</td> </tr>
          <tr> <td>Hazards</td> <td>{{ object.hazards }}</td> </tr>
          <tr> <td>Images</td> <td>{{ object.images }}</td> </tr>
          <tr> <td>In Conjuction</td> <td>{{ object.in_conj }}</td> </tr>
          <tr> <td>Injuries</td> <td>{{ object.injuries }}</td> </tr>
          <tr> <td>Last Publication Date</td> <td>{{ object.last_pub_date }}</td> </tr>
          <tr> <td>Manufacturers Countries</td> <td>{{ object.mfcs_countries }}</td> </tr>
          <tr> <td>Manufacturers</td> <td>{{ object.mfcs }}</td> </tr>
          <tr> <td>Products</td> <td>{{ object.products }}</td> </tr>
          <tr> <td>Products UPCs</td> <td>{{ object.product_upcs }}</td> </tr>
          <tr> <td>Recall Date</td> <td>{{ object.recall_date }}</td> </tr>
          <tr> <td>Recall ID</td> <td>{{ object.recall_id }}</td> </tr>
          <tr> <td>Recall Number</td> <td>{{ object.recall_num }}</td> </tr>
          <tr> <td>Remedies</td> <td>{{ object.remedies }}</td> </tr>
          <tr> <td>Retailers</td> <td>{{ object.retailers }}</td> </tr>
          <tr> <td>Title</td> <td>{{ object.<title>Page Title</title> }}</td> </tr>
          <tr> <td>URL</td> <td><a target='_' href="{{ object.url|default_if_none:"#" }}">url </a></td> </tr>
        </table>
      </div>
    </div>


{% endblock %}
