<div class="row">
	<div class="col-md-12">
	    Total records: {{ table.paginator.count }}<br/>
	    Time range: {{ stats.creation_date__min|date }} - {{ stats.creation_date__max|date }}
	  	<hr/>
		<h4>Maximum value: {{ stats.value__max }} &euro;</h4> [ {% for p in stats.max_value_procurements	 %}<a href="{% url 'public-procurements' p.id %}">{{ p.number }} ({{ p.location }})</a>{% if not forloop.last %}, {% endif %}{% endfor %} ]<br/>
		Minimum value: {{ stats.value__min }} &euro; [ {% for p in stats.min_value_procurements	 %}<a href="{% url 'public-procurements' p.id %}">{{ p.number }} ({{ p.location }})</a>{% if not forloop.last %}, {% endif %}{% endfor %} ]<br/>
		Average value: {{ stats.value__avg }} &euro;<br/>
		</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-6">
	      <h4 class="chart-header">{{ report.subject_chart.title }}</h4>
	      <div class="chart-container">
	          {{ report.subject_chart }}
	      </div>
	</div>

	<div class="col-md-6">
	      <h4 class="chart-header">{{ report.notice_type_chart.title }}</h4>
	      <div class="chart-container">
	          {{ report.notice_type_chart }}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	      <h4 class="chart-header">{{ report.procurements_total_chart.title }}</h4>
	      <div class="chart-container">
	          {{ report.procurements_total_chart }}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	      <h4 class="chart-header">{{ report.location_chart.title }}</h4>
	      <div class="chart-container">
	          {{ report.location_chart }}
	      </div>
	</div>
</div>