<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Veritza{% endblock %}</title>
  {% block meta %}{% endblock %}

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "core/css/lib/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "core/css/lib/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "core/css/veritza.css" %}">
  <!-- <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css"> -->
  
  <script src="{% static "core/js/lib/jquery/jquery.min.js" %}"></script>
  <script src="{% static "core/js/lib/jquery/jquery.form.min.js" %}"></script>
  <script src="{% static "core/js/lib/underscore-min.js" %}"></script>
  <script src="{% static "core/js/lib/bootstrap.min.js" %}"></script>
  <script src="{% static "core/js/lib/moment.min.js" %}"></script>
  <script src="{% static "core/js/lib/keymaster.min.js" %}"></script>
  <script src="{% static "core/js/veritza.js" %}"></script>
  {% block js %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div class="navbar navbar-default ad-nav">
      <div class="container">
        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Veritza</a>
        <div class="nav-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li{% if current_page == 'datasets' %} class="active"{% endif %}><a href="{% url 'datasets' %}">Datasets</a></li>
            <li{% if current_page == 'faq' %} class="active"{% endif %}><a href="{% url 'faq' %}">FAQ</a></li>
            <li{% if current_page == 'about' %} class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
            <li{% if current_page == 'contact' %} class="active"{% endif %}><a href="{% url 'contact' %}">Contact</a></li>
            <li><form style="padding-top: 8px;"><input class="form-control" type="text" placeholder="Global search ..."></form></li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="{% url 'userena_profile_detail' user.username %}">Profile</a></li>
              <li><a tabindex="-1" href="{% url 'userena_profile_edit' user.username %}">Edit profile</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="{% url 'userena_signout' %}">Sign out</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav pull-right">
            <li{% if current_page == 'signin' %} class="active"{% endif %}><a href="{% url 'userena_signin' %}">Sign in</a></li>
            <li{% if current_page == 'signup' %} class="active"{% endif %}><a href="{% url 'userena_signup' %}">Register</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

  <div class="container">
    {% block body %}
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        {% block content_title %}{% endblock %}
      </div>
    </div>
    {% block content %}
     <div class="text-center"><h1>You've found Veritza platform website!</h1></p></br></br></br> 
   	<em>We' re not quite there yet - but we're getting there - and we really want you to know when we're ready.</em></br></br></br> </br></br></br>   
  	<h2>Sign up <a href="{% url 'userena_signup' %}">here</a> to get notified! or get in touch with us <a href="mailto:info@veritza.org" target="_top">info@veritza.org</a></h2></div> {% endblock %}
    {% endblock %}
  </div>
</body>
</html>
