{% load veritza_utils %}
{% load i18n %}

<form action="{% url 'subscription' %}" method="post" style="display: inline">
{% if not user.is_anonymous  %}
    {% if user|is_subscribed:dataset_name %}
        <input class="btn btn-danger btn-xs" type="submit" value="{% trans 'Follow' %}">
        <input type="hidden" name="action" value="unsubscribe">
    {% else %}
        <input class="btn btn-success btn-xs" type="submit" value="{% trans 'Unfollow' %}">
        <input type="hidden" name="action" value="subscribe">
    {% endif %}
        <input type="hidden" name="dataset" value="{{ dataset_name }}">
        {% csrf_token %}
{% endif %}
</form>
